<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>basis-page-stack</title>
  <link rel="stylesheet" href="css/main.bundle.css">
</head>
<body>
  <header>
    <%- include('./_header') %>
  </header>
  <h2>index</h2>
  <div class="links-box">
    <ul class="index-links-list">
      <li><a href="step2/moonlight.html">moonlight.html</a></li>
    </ul>
  </div>
  <script src="js/bundle.js"></script>
</body>
</html>
