<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>moonlight</title>
  <link rel="stylesheet" href="/css/main.bundle.css">
</head>
<body>
  <header>
    <h1>月の光</h1>
    <nav>
      <a href="/index.html">トップページ</a> &gt;
      <a href="/moon.html">月</a> &gt; 月の光
    </nav>
  </header>
  <section>
    <h2>月の光について</h2>
    <img src="/images/luna.jpg" width="400px" alt="月光">
    <p>月の光は<a href="/images/sun.jpg">太陽</a>からの光が月の表面に反射して地球に届いたものです。月の光は古くから神秘的なものととらえられてきました。芸術や文学の作品で月をモチーフにしたものがたくさんあります。</p>
    <p>月の明るさは月齢によって大きく変化します。最も明るいのは満月のときでおよそ0.2ルクスです。これは全天で太陽に次ぐ明るさで、太陽の50万分の1、<em>金星の1500倍</em>の明るさです。</p>

    <h2>月の光をテーマとした和歌</h2>
    <ol>
      <li>「秋風にたなびく雲の絶え間より もれ出づる月のかげのさやけさ」（新古今和歌集より）</li>
      <li>「秋の夜の月の光はきよけれど 人の心の隈は照らさず」（<ruby>後撰<rt>ごせん</rt></ruby>和歌集より）</li>
      <li>「冬の夜の池の氷のさやけきは 月の光のみがくなりけり」（<ruby>拾遺<rt>しゅうい</rt></ruby>和歌集より）</li>
    </ol>

    <h2>月の光の名のついた音楽作品</h2>
    <ul>
      <li>
        <a href="http://ja.wikipedia.org/wiki/ベルガマスク組曲">ドビュッシー「ベルガマスク組曲第3曲」（月の光）</a>
      </li>
      <li>フェルナンド・ソル「20のギター向け練習曲第5番」（月光）</li>
      <li>ベートーヴェン「ピアノソナタ第14番」（月光）</li>
    </ul>
  </section>
  <footer>
    <p>Copyright (c) Cosmos, All rights reserved.</p>
  </footer>

  <script src="/js/bundle.js"></script>
</body>
</html>
